# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# turborepo
.turbo
.pnpm-store

# testing
coverage
playwright-report
test-results
blob-report
.vitest

# next.js
.next/
out/
*.tsbuildinfo

# production
build
dist

# misc
.DS_Store
.env
.env.local
.env.*.local

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel
.poc3
