DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio
PUBLIC_BETTER_AUTH_SECRET=
PUBLIC_BETTER_AUTH_URL=http://localhost:3003
NEXT_PUBLIC_PUBLIC_BETTER_AUTH_URL=http://localhost:3003
PUBLIC_TRUSTED_ORIGINS=https://reviews.zyadyasser.net,https://blog.zyadyasser.net
# PUBLIC_COOKIE_DOMAIN=.zyadyasser.net
APP_NAME=blog
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
TURNSTILE_SECRET_KEY=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
