.tabs
    color: #FFF !important
    .tabsNav
        height: 45px
        .oneTab
            width: 180px
            text-transform: uppercase
            font-size: 18px
            cursor: pointer
            transition: 500ms all ease
            border-radius: 24px
            border: 0px solid transparent
            &.active
              transition: 500ms all ease
              pointer-events: none
              border-radius: 24px
              border: 2px solid #d34947
