
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3001
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3001
ADMIN_NAME=Zyad Yasser
ADMIN_EMAIL=
ADMIN_PASSWORD=
APP_NAME=admin
UPSTASH_REDIS_REST_URL=
UPSTASH_REDIS_REST_TOKEN=
