.footer
    z-index: 2
    position: relative
    min-width: 70px
    width: 70px
    background-color: #121212
    min-height: 100%
    color: #FFF
    flex-direction: column
    justify-content: space-between
    .sectionUp
        height: 70%
        .about
            transform: rotate(90deg)
            font-size: 12px
            top: 152px
            right: 96px
            position: relative
            width: 264px
    .sectionDown
        height: 30%
        display: flex
        justify-content: center
        align-items: flex-end
        .flipper
            transform: rotate(90deg)
            margin-bottom: 68px

@media screen and ( max-width: 768px )
  .footer
    background-color: rgba(0, 0, 0, 0.7)
    position: absolute
    bottom: 0
    width: calc(100% - 5px)
    height: 70px !important
    min-height: 70px !important
    flex-direction: row
    padding: 0 1rem
    .sectionUp, .sectionDown
      height: 100%
      display: flex
      align-items: center
    .about
      top: auto !important
      right: auto !important
    .flipper, .about
      margin: 0 !important
      transform: rotate(0deg) !important

@media screen and ( max-width: 500px )
  .footer
    .flipper
      position: absolute
      .hireMe
        display: none !important
    .sectionUp
      width: 100%
      .about
        width: 100%
        text-align: center
