DATABASE_URL=postgresql://postgres:postgres@localhost:5432/portfolio
PUBLIC_BETTER_AUTH_SECRET=
PUBLIC_BETTER_AUTH_URL=http://localhost:3002
NEXT_PUBLIC_PUBLIC_BETTER_AUTH_URL=http://localhost:3002
PUBLIC_TRUSTED_ORIGINS=https://reviews.zyadyasser.net,https://blog.zyadyasser.net
# PUBLIC_COOKIE_DOMAIN=.zyadyasser.net
